body {
  font-family: "Open Sans", sans-serif;
}

.content_wrapper {
  width: 1000px;
  margin: 0 auto;
}

.settings label {
  display: inline-block;
  width: 300px;
}

.settings button {
  padding: 0.5em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.output {
  margin-top: 1em;
  width: 400px;
  height: 500px;
}
